header {
    height: 400px;
    width:30%;
    background-color: orange;
    background-image: url(../asfalt-light.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}

@media only screen and (max-width: 1023px) {
    
    header {
      height: 400px;
      width: 100%;
      margin-left: 0px;
    }
  
  }

@media only screen and (max-width: 530px) {
      h2 {
        font-size: 24px;
      }

      .userpic {
          margin-top: 50px;
      }

  }