nav {
  color: #FFFFFF;
  background-color:#4056A1;
  height:120px;
  width:100%;
  padding-left:1.5em;
  padding-right:1.5em;
  display: flex;
  font-family: Source Sans Pro, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  }

#arrow-new-tweet {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  
}

#tweeter {
  font-size: 30px;
  font-family: Bungee, sans-serif;
}

#arrow {
  display: flex;
  color: red;
  align-self: center;

}